@model List<ConsoleApp2.Student>

<h2 class="mb-3">Students List</h2>

<div class="mb-3">
    <a asp-controller="Student" asp-action="Add" class="btn btn-primary">
        Add New Student
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.StudentId</td>
                <td>@s.FirstName</td>
                <td>@s.LastName</td>
                <td>@s.Gender</td>
                <td>@s.BirthDate.ToShortDateString()</td>
                <td>-</td>
            </tr>
        }
    </tbody>
</table>
